.env
agents-writing-docs/.env
agents-writing-docs/db
agents-contract-analysis/.env
agents-prepare-for-meetings/.env
agents-prepare-for-meetings/output
agents-writing-docs/workdir/*
!agents-writing-docs/workdir/repo_will_go_here.txt
.DS_Store